/* Imports Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* The brand variables */
:root {
    --primary: #7b4c2f;
    --light: #fffdf8;
    --dark: #2e2823;
    --muted: #f8f6f5;

    --font-base: Roboto, Verdana, sans-serif;
    --font-heading: 'Noto Serif', serif;

    --font-size: 16px;
    --font-size-sm: 0.8rem;
    --font-size-lg: 1.2rem;

    --space-0: 0;
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-base);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    margin-bottom: var(--space-1);
}

/*************************************** BUTTONS ***************************************/
.btn {
    padding: var(--space-1) var(--space-2);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

/*************************************** COLORS ***************************************/
.bg-primary { background-color: var(--primary); }
.bg-light { background-color: var(--light); }
.bg-dark { background-color: var(--dark); }
.bg-muted { background-color: var(--muted); }

.text-primary { color: var(--primary); }
.text-light { color: var(--light); }
.text-dark { color: var(--dark); }
.text-muted { color: var(--muted); }

.shadow-dark { box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(46, 40, 35, 0.2); }

/*************************************** LAYOUT ***************************************/
.d-flex { display: flex; }
.flex-between { justify-content: space-between; }

.grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* fr - fraction */
}

.grid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* fr - fraction */
}

/*************************************** SPACING ***************************************/
.m-0 { margin: var(--space-0); }
.m-1 { margin: var(--space-1); }
.m-2 { margin: var(--space-2); }
.m-3 { margin: var(--space-3); }

.p-0 { padding: var(--space-0); }
.p-1 { padding: var(--space-1); }
.p-2 { padding: var(--space-2); }
.p-3 { padding: var(--space-3); }

.gap-0 { gap: var(--space-0); }
.gap-1 { gap: var(--space-1); }
.gap-2 { gap: var(--space-2); }
.gap-3 { gap: var(--space-3); }

/*************************************** SWATCHES ***************************************/
.swatch .swatch-value {
    aspect-ratio: 1 / 1;
    width: 3rem;
    border-radius: 100%;
}

.swatch .swatch-name {
    text-align: center;
}